<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{% block title %}Constant CSS{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="resources/main.css" />
</head>

<body>
	<div id="site_branding">
		<img src="resources/constant_css.png">
	</div>
	<div id="navigation">
		{% block navigation %}
		<ul>
			<li><a href="list_css">Login</a></li>
		</ul>
		{% endblock %}
	</div>
	<div id="main_content">
		{% block content %}{% endblock %}
	</div>
	<div style="text-align: center; clear: both;">
		<script type="text/javascript"><!--
		google_ad_client = "pub-8285769822349938";
		/* 234x60, created 5/10/08 */
		google_ad_slot = "8608810993";
		google_ad_width = 234;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</body>
</html>
