/* @cssconstants
@define BODY_FONT 10px
@define HEADER_FONT 20px

@define BODY_TEXT
font-size: 10px;
color: #aabbcc;


*/

p {
	font-size: /*BODY_FONT*/100px/*BODY_FONT*/;
	
	/*BODY_TEXT*/
	font-size: 10px;
	color: #aabbcc;
	/*BODY_TEXT*/
}

ul {
	font-size: /*HEADER_FONT*/100px/*HEADER_FONT*/;
	
	/*BODY_TEXT*/
	font-size: 10px;
	color: #aabbcc;
	/*BODY_TEXT*/
}